@import url('https://fonts.googleapis.com/css?family=Roboto');

$font: 'Roboto', sans-serif;

body {
  font-family: $font;
  margin: 0;
}

h1 {
  color: #000000;
  text-align: center;
  margin: 0;
}

h2 {
  margin-bottom: 0px;
}

.updated {
  color: #000000;
  text-align: center;
}

p {
  margin: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
  flex-direction: column;
}

.screen-wrapper {
  background-color: #000000;
  width: 340px;
  border-radius: 35px;
  padding-bottom: 18px;
  background-image: linear-gradient(to bottom right, rgba(255,0,0,0), rgba(190  ,186,186,0.4));
  box-shadow: 0 10px 20px -1px #323131;
}

.phone-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;

  .earphone {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    border: 1px solid #bdbdbd;
  }
}

.screen-header {
  background-color: #ffffff;
  padding: 20px 20px 5px 20px;
  margin: 30px 20px 0 20px;
}

.tube-lines {
  height: 400px;
  overflow: scroll;
  align-content: center;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  margin: 0 20px 20px 20px;

  .Bakerloo {
    color: #B36305;
  }

  .Central {
    color: #E32017;
  }

  .Circle {
    color: #FFD300;
  }

  .District {
    color: #00782A;
  }

  .Hammersmith {
    color: #F3A9BB;
  }

  .Jubilee {
    color: #A0A5A9;
  }

  .Metropolitan {
    color: #9B0056;
  }

  .Northern {
    color: #000000;
  }

  .Piccadilly {
    color: 	#003688;
  }

  .Victoria {
    color: 	#0098D4;
  }

  .Waterloo {
    color: #95CDBA;
  }
}

.homebutton {
  display: flex;
  justify-content: center;
}

.button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #bdbdbd;
}
